<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-12 col-lg-6">
            <register-form></register-form>
        </div>
        <div class="col-xs-12 col-lg-6">
            <external-communication></external-communication>
        </div>
    </div>
</div>
<div class="clearfix hidden-sm-up"></div>

<br />
<hr />
<joke-list>
    <joke [jokemaina]="rootJoke">
        <span class="questionClassSelector">{{ rootJoke.question }}?</span>
        <h1 class="answerClassSelector">{{ rootJoke.answer }}</h1>
    </joke>
</joke-list>